.conainsMargin {

    margin-left : 250px;
    margin-right : 250px;
    margin-top: 48px;
    margin-bottom: 48px;
}
.chefName {
    margin-top: 36px;
    font-size: 50px;
    font-family: serif;
    font-weight: 600;
}
.chefInfo {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.t-title {
    font-size: 60px;
    color: crimson;
    font-family: serif;
    margin-bottom: 40px;
}